h1{
    text-align: center;
}
button.open{
    width:100%;
    height:50px;
    background-color:gray;
    color:white;
    font-size: large;
}
.groups{
    display: none;
}
button.addButton{
    background-color: lawngreen;
    width: 10%;
    height: 30px;
}
.tests{
    display: none;
}
.marks{
    display: none;
}
input{
    width: 100%;
    height: 25px;

    font-size: medium;
}
.center{
    text-align: center;
}
.modules{
    display: none;
}
.tickets{
    display: none;
}
table{
    width: 100%;
}

th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}