input{
    position: relative;
    left:43%;
    width: 14%;
    height:30px;
}
p{
    text-align: center;
    font-size: x-large;
}
button.vxod{
    background-color: blue;
    color: white;
    width:5%;
    height:35px;
    text-align: center;
}
h1{
    text-align: center;
}