h1{
    text-align: center;
}
button.open{
    width:100%;
    height:50px;
    background-color:gray;
    color:white;
    font-size: large;
}
table{
    width: 100%;
}
th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}

.groups{
    display: none;
}
.tests{
    display: none;
}
.marks{
    display: none;
}
.questions{
    display: none;
}