<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/teacherstyles.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/cssandjs/teacherscript.js}"></script>
    <title></title>
</head>
<body>
<div class="teacherpage">
    <h1>Учитель</h1>
    <button class="open" onclick="openGroup()">Мои группы</button>
    <div class="groups" id="groups">
        <table>
            <tr>
                <th>мои группы</th>
            </tr>
            <tr th:each="groups : ${groups}">
                <td th:text="${groups.name}">&nbsp;</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>мои ученики</th>
            </tr>
            <tr th:each="people : ${people}">
                <td th:text="${people.login}">&nbsp;</td>
            </tr>

        </table>
    </div>
    <p>
        <button class="open" onclick="showTests()">Тесты и модули</button>
    </p>
    <div class="tests" id=tests>
        <div class="center">
            <h2>Создать тест</h2>
        </div>
        <p>Имя теста</p>
        <input id="testName">
        <p>Для группы</p>
        <input id="groupName">
        <p>Дата начала(ДД-ММ-ГГГГ)</p>
        <input id="startDate">
        <p>Время начала(ЧЧ:ММ)</p>
        <input id="startTime">
        <p>Дата окнончания(ДД-ММ-ГГГГ)</p>
        <input id="endDate">
        <p>Время окнончания(ЧЧ:ММ)</p>
        <input id="endTime">
        <div class="center">
            <p>
                <button class="addButton" onclick="addTest()">Создать</button>
            </p>
        </div>
        <div class="center">
            <h2>Создать модуль</h2>
        </div>
        <p>Название модуля</p>
        <input id="moduleName">
        <div class="center">
            <p>
                <button class="addButton" onclick="addModule()">Создать</button>
            </p>
        </div>
        <div class="center">
            <h2>добавить билет в тест</h2>
        </div>
        <p>Название модуля</p>
        <input id="moduleAddTicketName">
        <p>Название билета</p>
        <input id="ticketAddTicketName">
        <div class="center">
            <p>
                <button class="addButton" onclick="addTicketToM()">добавить</button>
            </p>
        </div>
        <table>
            <tr>
                <th>мои модули</th>
            </tr>
            <tr th:each="module : ${module}">
                <td th:text="${module.name}">&nbsp;</td>
            </tr>
        </table>
    </div>
    <p>
        <button class="open" onclick="showTickets()">Билеты и вопросы</button>
    </p>
    <div class="tickets" id="tickets">
        <div class="center">
            <h2>Создать билет</h2>
        </div>
        <p>Название билета</p>
        <input id="ticketName">
        <table>
            <tr>
                <th>мои билеты</th>
            </tr>
            <tr th:each="ticket : ${ticket}">
                <td th:text="${ticket.name}">&nbsp;</td>
            </tr>
        </table>
        <div class="center">
            <p>
                <button class="addButton" onclick="addTicket()">Создать</button>
            </p>
            <h2>Создать вопрос</h2>
        </div>
        <p>Вопрос</p>
        <input id="question">
        <p>Ответ</p>
        <input id="answer">
        <p>Учебный модуль</p>
        <input id="module">
        <div class="center">
            <p>
                <button class="addButton" onclick="addQuestion()">Создать</button>
            <h2>добавить вопрос в билет</h2>
        </div>

        <p>Вопрос</p>
        <input id="questionToTicket">
        <p>Название билета</p>
        <input id="ticketAddQuestionTo">
        <div class="center">
            <p>
                <button class="addButton" onclick="addToTicket()">Добавить</button>
            <h2>сгенерировать билет</h2>
        </div>
        <p>Имя одного из существующих пустых билетов (или нового)</p>
        <input id="generateTicketName">
        <p>Сколько взять вопросов из одного модуля?</p>
        <input id="numberOfQuestions">
        <p>Сколько взять случайных модулей?</p>
        <input id="numberOfModules">
        <div class="center">
            <p>
                <button class="addButton" onclick="generateTicket()">Сгенерировать</button>
        </div>

        <table>
            <tr>
                <th>мои вопросы</th>
            </tr>
            <tr th:each="question : ${question}">
                <td th:text="${question.text}">&nbsp;</td>
                <td th:text="${question.answer}">&nbsp;</td>
            </tr>
        </table>
    </div>
    <p>
        <button class="open" onclick="showMarks()">Оценки</button>
    </p>
    <div class="marks" id="marks">
    </div>
    <script>getTables()</script>
</div>
</body>