<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/testsstyles1.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/cssandjs/testsscript.js}"></script>
    <title></title>
    </script>
</head>
<body>
<div class="center">
    <h1 id="question">Нет вопроса</h1>
</div>
<input id="answer">
<script>getQuestions()</script>
<div class="center">
    <p>
        <button class="addButton" onclick="addAnswer()">Ответить</button>
    </p>
</div>
</body>
</html>