<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/styles/cssandjs/weakadminstyles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/cssandjs/weakadminscript.js}"></script>
    <title></title>
</head>
<body>
    <div class="adminPage">
    <h1>Администратор учебного процесса</h1>
        <button class="open" onclick="openGroup()">Группы</button>
        <div class="groups" id="groups">
        </div>
        <p><button class="open" onclick="showMarks()">Оценки</button></p>
        <div class="marks" id="marks">
        </div>
        <p><button class="open" onclick="showTests()">Тесты</button></p>
        <div class="tests" id="tests">
        </div>
        <p><button class="open" onclick="showQuestions()">Вопросы</button></p>
        <div class="questions" id="questions">
        </div>
        <script>getTables()</script>
    </div>
</body>